[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry-sdk = "*"
boto3 = "*"

[dev-packages]
bandit = "*"
black = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
pylama = {extras = ["all"], version = "*"}
pytest = "*"
moto = {extras = ["s3"], version = "*"}
boto3-stubs = {extras = ["essential"], version = "*"}

[requires]
python_version = "3.9"
