[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentry-sdk = "*"
boto3 = "*"
boto3-stubs = {extras = ["s3"], version = "*"}

[dev-packages]
black = "*"
coverage = "*"
coveralls = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
ruff = "*"
types-urllib3 = "*"
types-requests = "*"
types-python-dateutil = "*"
moto = {extras = ["s3"], version = "*"}
safety = "*"
pip-audit = "*"

[requires]
python_version = "3.12"
